
@model Autofocus.Models.ViewModels.SubcategoryCreateViewModel;
@{
    ViewData["Title"] = "Add New Subcategory";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/dropdownselect/docsupport/style.css">

    <link rel="stylesheet" href="~/dropdownselect/docsupport/prism.css">
    <link rel="stylesheet" href="~/dropdownselect/chosen.css">
<div class="side-app">

    <!-- end row -->
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
            <div class="card m-b-20">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">


                            <div class="form-group col-md-6">
                                <label asp-for="mainCategroyId">  </label>
                                <select asp-for="mainCategroyId" class="form-control" asp-items="ViewBag.AllMainCategory" onchange="DoPostBack();">
                                    <option value="">Select</option>
                                </select>

                                <span asp-validation-for="mainCategroyId" class="text-danger"></span>

                            </div>

                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="name">Name</label>
                                    <input type="text" class="form-control" asp-for="name" id="name1" placeholder="Enter Name">
                                    <span asp-validation-for="name" class="text-danger"></span>

                                </div>

                            </div>


                            <div class="form-group col-md-6">
                                <label class="form-label" asp-for="name">Image</label>
                                <input asp-for="img" type="file" class="dropify" data-height="50" value="Upload" />
                                <span asp-validation-for="img" class="text-danger"></span>

                            </div>
                            <div class="form-group  col-md-6">
                                <label asp-for="countryid"></label>

                                <select name="countryid" id="countryid" asp-for="countryid" class="form-control"
                                        asp-items="@ViewBag.AllCountries">
                                    <option value="">select</option>
                                </select>

                                <span asp-validation-for="countryid" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="stateid">  </label>
                                <select class="form-control" name="stateid" id="stateid" asp-for="stateid"
                                        asp-items="@ViewBag.States">
                                    @*disabled="@(ViewBag.StateEnabled == false ? "disabled" : null)"*@
                                    <option value="">select</option>
                                </select>


                                <span asp-validation-for="stateid" class="text-danger"></span>

                            </div>

                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label class="form-label" asp-for="cityid">City Name</label>
                                    @*<select class="form-control" name="cityid" id="cityid" asp-for="cityid"
                asp-items="@ViewBag.Cities">

            <option value="">select</option>
        </select>*@
                                    @*<select id="cityid" data-rel="chosen" asp-for="cityid" class="form-control" data-placeholder="select City" multiple="">
        </select>*@


                                    <select id="cityid" data-rel="chosen" asp-for="cityid" class="form-control" data-placeholder="select Business" multiple="">
                                    </select>

 


                                    @*<select id="cityid" asp-for="cityid" data-placeholder="Choose a Country..." class="chosen-select" multiple tabindex="4">
        </select>*@
                                    <input type="hidden" asp-for="multipleCityIds" />
                                    <span asp-validation-for="cityid" class="text-danger"></span>

                                </div>
                            </div>

                            @*<select data-placeholder="Choose a Country..." class="chosen-select" multiple tabindex="4">
                                                          

                            </select>*@
                            @*<div class="col-sm-6 col-md-6">

                                    <div class="form-group mb-0">
                                        <label class="form-label" asp-for="cityIds"></label>

                                        <select id="businessid" data-rel="chosen" asp-for="cityIds" class="form-control" data-placeholder="select City" multiple="">
                                        </select>
                                        <input type="hidden" asp-for="multipleCityIds" />

                                        <span asp-validation-for="cityIds" class="text-danger"></span>
                                    </div>
                                </div>*@

                        </div>



                        <button type="submit" style="margin-right:5px;" class="btn btn-primary "><i class="fa fa-save" style="margin-right:0.7em"></i>Save</button>
                        <a asp-action="index" class="btn btn-rounded btn-info float-right"><i class="fa fa-backward" style="margin-right:0.7em"></i>Back</a>

                    </form>
                </div>
            </div>
        </div>
    </div>





</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*<script src="~/Bizdire/LTR/assets/js/vendors/jquery-3.2.1.min.js"></script>*@
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/dropdownselect/chosen.jquery.js" type="text/javascript"></script>
<script src="~/dropdownselect/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
<script src="~/dropdownselect/docsupport/init.js" type="text/javascript" charset="utf-8"></script>
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript">

    //$(document).ready(function () {
    //  $(  "[data-rel='chosen']").chosen();
    //});

    $("[data-rel='chosen']").chosen();

    $(function () {

        $("#countryid").change(function () {

            var url = '@Url.Content("~/")' + 'Admin/CityRegistration/getstatebyid';
            var ddlsource = "#countryid";
            $.getJSON(url,
                { id: $(ddlsource).val() },
                function (data) {
                //   console.log(data);
                    var item = '<option value="">Select</option >';
                    $("#stateid").empty();
                   // $("#cityid").empty();
                    $.each(data, function (i, row) {

                        item += "<option value='" + row.value + "'>" + row.text + "  </option > ";
                       // alert(row);
                    });
                    $("#stateid").html(item);
                }
            )
        });

        $("#stateid").change(function () {
            loadcity($("#stateid").val());
        });

    });

    function loadcity(id) {

        alert(id);
        var s = '';


        $("[data-rel='chosen']").chosen();
        var url = '@Url.Content("~/")' + 'Admin/GetJsonData/getCitybyStateid';

     //  var url = '@Url.Content("~/")' + 'Admin/GetJsonData/getCitybyStateid' + sectorid;
          //  var ddlsource = "#countryid";
            $.getJSON(url,
                { stateid: id },
                function (data) {

                    $.each(data, function (i, row) {
                        s += '<option value="' + row.value + '">' + row.text + '</option>';

                    });
                    $("#cityid").html(s);
                    $("[data-rel='chosen']").trigger("chosen:updated");
                    console.log(item);
                   // $("#cityid").html(item);
                }
        )



    }

</script>